.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.full-justify:after {
    display: inline-block;
    content: "";
    width: 100%;
}

button.tool {
    margin:  9px;
    width:  70px;
    height: 70px;
    font-size: 1.2em;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    top: 0;
    height: 100%;
}

h1 {
    margin: 0;
    padding: 0.5em 0;
}

#main {
    margin: auto;
    padding: 0em 2em;
    width: 1000px;
    height: 100%;
}

#playground {
    margin: auto;
    width: 1000px;
    height: 300px;
    background-color: lightblue;
}

#placeholder {
    top:   0px;
    right: 0px;
    z-index: -1;
}

#player {
    width:  180px;
    height: 180px;
    top: 318px;
    left:  0px;
    background-color: #ddd;
}

#boss {
    width:  180px;
    height: 180px;
    top: 318px;
    right: 0px;
}

#boss img {
    height: 180px;
    width:  180px;
}

#lvl, #lives {
    display: inline-block;
    float:  left;
    padding: 9px;
    width:  72px;
    height: 27px;
    text-align: justify;
}

#score {
    display: inline-block;
    float:  left;
    padding: 9px;
    width: 162px;
    height: 27px;
    text-align: justify;
}

#fps {
    left: 450px;
    bottom: 318px;
}

#keep {
    max-width: 604px;
    top: 318px;
}

#menu {
    top: 18px;
}

#menu button {
    display: block;
    margin:  9px;
    width: 200px;
    height: 30px;
    text-align: center;
}

#tutorial {
    top: 18px;
}

.bubble {
    position: absolute;
    width: 260px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #fff;
    border: 8px solid #666;
    z-index: 3;
}
.bubble:before {
    position: absolute;
    content: ' ';
    width:   0px;
    height:  0px;
    border: 20px solid;
}
.bubble:after {
    position: absolute;
    content: ' ';
    width:   0px;
    height:  0px;
    border: 11px solid;
}

.bubble.right:before {
    right: 10px;
    top:   30px;
    border-color: #666 #666 transparent transparent;
}
.bubble.right:after {
    right: 16px;
    top:   30px;
    border-color: #fff #fff transparent transparent;
}

.bubble.left:before {
    left:  10px;
    top:   30px;
    border-color: #666 transparent transparent #666;
}
.bubble.left:after {
    left:  16px;
    top:   30px;
    border-color: #fff transparent transparent #fff;
}

#step-1 { left: 700px; top:  30px; display: none; }
#step-2 { left: 100px; top:  30px; display: none; }
#step-3 { left: 500px; top: 220px; display: none; }
#step-4 { left:  30px; top: 220px; display: none; }

#sample-1 { left: 940px; top: 130px; }
#sample-2 { left: 110px; top: 130px; }
